.books-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.book {
  width: 24%;
}

.book img {
  height: 200px;
}

.btn {
  padding: 5px 25px;
  background: blue;
  color: white;
  border-radius: 10px;
  border: 1px solid blue;
  cursor: pointer;
}

.flexBtns {
  display: flex;
  gap: 10px;
}

.dark {
  background: #535050;
}
